{% extends "base.html" %}


{% block content %}
    {% for post in posts%}
        {% if post["visebility"] == "public" %}
            <article class="post border border-dark shadow rounded mb-4 p-4">
                <header>
                    <h1 class="title"><a href="/post/{{post['post_id']}}">{{post["title"]}}</a></h1>
                    <p>
                        {% if post["post_id"] in authors%}
                            <span class="author"><strong>Author: </strong> {{authors[post["post_id"]]["username"]}} </span>
                        {% endif %}
                            <span class="published ml-4"><strong>Published:</strong> <time>{{post["publised_at"]}}</time> </span>
                        {% if post["edited_at"] %}
                            <span class="edited ml-4"><strong>Edited:</strong> <time>{{post["edited_at"]}}</time> </span>
                        {% endif %}
                            <span class="visebility ml-4"><strong>visebility: </strong> {{post["visebility"]}} </span>
                    </p>
                </header>
                <hr/>
                <section>
                    <p>{{post["article"]}}</p>
                </section>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}